.Word-item {
    margin: 0.5rem;
}

.Word-display-area {
    display: flex;
    flex-wrap: wrap;
    max-height: 30vh;
    overflow-y: scroll;
}

.Sort-label {
    margin: 2rem;
}

.Possible-words-section {
    margin-top: 2rem;
}
